/* Tailwind CSS Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Sora:wght@800&display=swap");

/* Base Styles */
body {
  color: theme("colors.void-white");
  background: theme("colors.void-primary-black");
}

/* Headings */
/* Style for H1 */
h1 {
  color: theme("colors.void-white");
  font-family: "Sora", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 1px;
}

/* Style for H2 */
h2 {
  color: theme("colors.void-white-300");
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.16px;
}

/* Paragraphs */
p {
  color: theme("colors.void-white-300");
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.16px;
}

/* Navigation Styles */
nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  transition:
    opacity 0.3s,
    transform 0.2s;
  transform: translate(var(--mouse-x, 0), var(--mouse-y, 0));
  opacity: var(--hover, 0);
  z-index: -100;
}

/* Custom Backgrounds */
.bg-custom-radial-shadow {
  background: radial-gradient(
    circle at center,
    transparent 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

/* Hover Effects */
.hover-light-effect:hover {
  box-shadow: 0px 0px 12px -8px rgba(246, 128, 38, 1);
}

/* Scrollbar Styles */
/* General scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #0c0c0f;
  cursor: pointer;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #202229;
  border-radius: 4px;
  cursor: pointer;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e45eb;
  cursor: pointer;
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: 8px;
  scrollbar-color: #202229 #0c0c0f;
}

/* Transitions */
.transition-border {
  transition:
    border-bottom 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

/* Link Effects */
/* Base setup for link light effect (currently commented out) */
.link-light-effect {
  /* Initial setup commented */
}

/* Hover effect for links */
.link-light-effect:hover::after {
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
}

/* Scrollbar Customization for No Horizontal Scroll */
.no-horizontal-scroll::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Blink browsers */
}

.no-horizontal-scroll {
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}

/* Animation Tests */
.test-animation-css {
  height: 80px;
  transition: height 0.3s ease-in-out;
}

.group:hover .test-animation-css {
  height: 200px;
}

/* SVG Button Hover Effects */
#primary-button:hover #background {
  fill: #f0f4ff;
}

#primary-button {
  transition: transform 750ms;
}

#primary-button:hover {
  transition: transform 300ms;
}

#primary-button:hover #down,
#primary-button:hover #up {
  transform: translate(21px, -21px);
}

#primary-button:hover #down {
  stroke: #0c0c0f;
  transition: transform 0.5s ease;
}

#primary-button:hover #up {
  stroke: #f0f4ff;
  transition: transform 0.5s ease;
}

/* SVG Styles */
svg #background {
  fill: #0c0c0f;
  transition: fill 0.5s ease-in-out;
}

svg #down,
svg #up {
  stroke: transparent;
}

svg #up {
  stroke: #f0f4ff;
  transform: translate(-21px, 21px);
  z-index: 50;
}
