@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Sora:wght@800&display=swap');

body {
  color: theme('colors.void-white');
  background: theme('colors.void-primary-black');
}

h1 {
  color: theme('colors.void-white');
  font-family: 'Sora', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 1px;
}

h2 {
  color: theme('colors.void-white-300');
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.16px;
}

p {
  color: theme('colors.void-white-300');
  font-family: 'Heebo', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.16px;
}