/* Tailwind CSS Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Sora:wght@800&display=swap");

/* Base Styles */
body {
  color: theme("colors.void-white");
  background: theme("colors.void-primary-black");
}

* {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

/* Headings */
/* Style for H1 */
h1 {
  color: theme("colors.void-white");
  font-family: "Sora", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 1px;
}

/* Style for H2 */
h2 {
  color: theme("colors.void-white-300");
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.16px;
}

/* Paragraphs */
p {
  color: theme("colors.void-white-300");
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.16px;
}

/* Navigation Styles */
nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: radial-gradient(circle,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  transition:
    opacity 0.3s,
    transform 0.2s;
  transform: translate(var(--mouse-x, 0), var(--mouse-y, 0));
  opacity: var(--hover, 0);
  z-index: -100;
}

/* Custom Backgrounds */
.bg-custom-radial-shadow {
  background: radial-gradient(circle at center,
      transparent 0%,
      rgba(0, 0, 0, 0.1) 100%);
}

/* Hover Effects */
.hover-light-effect:hover {
  box-shadow: 0px 0px 12px -8px theme("colors.void-orange");
}

/* Scrollbar Styles */
/* General scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: theme("colors.void-primary-black");
  cursor: pointer;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.void-grey-300");
  border-radius: 4px;
  cursor: pointer;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.void-blue");
  cursor: pointer;
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: 8px;
  scrollbar-color: theme("colors.void-grey-300") theme("colors.void-primary-black");
}

/* Transitions */
.transition-border {
  transition:
    border-bottom 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

/* Hover effect for links */
.link-light-effect:hover::after {
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
}

/* Scrollbar Customization for No Horizontal Scroll */
.no-horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.no-horizontal-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Animation Tests */
.height-animation div {
  background-color: red;
  top: -400px;
  transition: top 0.3s ease-in-out;
}

.group:hover .height-animation div {
  top: 200px;
}

/* SVG Button Hover Effects */
#primary-button:hover #background {
  fill: theme("colors.void-soft-white");
}

#primary-button {
  transition: transform 750ms;
}

#primary-button:hover {
  transition: transform 300ms;
}

#primary-button:hover #down,
#primary-button:hover #up {
  transform: translate(21px, -21px);
}

#primary-button:hover #down {
  stroke: theme("colors.void-primary-black");
  transition: transform 0.5s ease;
}

#primary-button:hover #up {
  stroke: theme("colors.void-soft-white");
  transition: transform 0.5s ease;
}

/* SVG Styles */
svg #background {
  fill: theme("colors.void-primary-black");
  transition: fill 0.5s ease-in-out;
}

svg #down,
svg #up {
  stroke: transparent;
}

svg #up {
  stroke: theme("colors.void-soft-white");
  transform: translate(-21px, 21px);
  z-index: 50;
}

.svg-container:hover svg path#arrow-right,
.svg-container:hover svg path#arrow-left {
  stroke: theme("colors.void-blue");
}

.svg-container svg path#arrow-right,
.svg-container svg path#arrow-left {
  transition: stroke 300ms ease-in;
}

.svg-container:hover svg {
  fill: theme("colors.void-graphite");
}

.svg-container:hover svg {
  transition: fill 300ms ease-in;
}

.group:hover .child-visible-on-hover {
  opacity: 1;
}

.group .child-visible-on-hover {
  transition: opacity 300ms ease-in;
}

.group .height-animation {
  height: 0;
  transition: height 0.3s ease-in-out;
}

.group:hover .height-animation {
  height: 27px;
}

.hover-effect:hover .bg-void-blue,
.hover-effect:hover .bg-void-orange {
  top: 0;
}

.hover-effect:hover svg path:not(#up) {
  fill: theme("colors.void-blue");
}

.hover-effect svg path {
  transition: fill 0.3s ease-in-out;
}

.hover-effect .bg-void-blue,
.hover-effect .bg-void-orange {
  top: 100%;
  transition: top 0.3s ease-in-out;
}

#void-down {
  left: -330px;
  bottom: -333px;
  transition: left 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.hover-effect:hover #void-down {
  left: -225px;
  bottom: -220px;
}

#void-up {
  right: -330px;
  top: -333px;
  transition: right 0.3s ease-in-out, top 0.3s ease-in-out;
}

.hover-effect:hover #void-up {
  right: -225px;
  top: -220px;
}

@keyframes floatingAnimation {
  0% {
    transform: translateY(0) scale(1) rotate(0deg);
  }

  25% {
    transform: translateY(0) scale(1) rotate(90deg);
  }

  50% {
    transform: translateY(0) scale(1) rotate(180deg);
  }

  75% {
    transform: translateY(0) scale(1) rotate(270deg);
  }

  100% {
    transform: translateY(0) scale(1) rotate(360deg);
  }
}


.floating {
  animation: floatingAnimation 6s ease-in-out infinite;
}

@keyframes floatingCubeTopRight {

  0%,
  100% {
    transform: translateX(0) scale(1) rotate(0deg);
  }

  50% {
    transform: translateX(-10px) scale(1.1) rotate(0deg);
  }
}

.floating-cube #cube-top-right {
  animation: floatingCubeTopRight 6s ease-in-out infinite;
}

@keyframes floatingCubeTopLeft {

  0%,
  100% {
    transform: translateX(0) scale(1) rotate(0deg);
  }

  50% {
    transform: translateX(0px) scale(1.2) rotate(10deg);
  }
}

.floating-cube #cube-top-left {
  animation: floatingCubeTopLeft 6s ease-in-out infinite;
}

@keyframes floatingCubeBottomLeft {

  0%,
  100% {
    transform: translateX(0) scale(1) rotate(0deg);
  }

  50% {
    transform: translateY(-10px) scale(1.2) rotate(0deg);
  }
}

.floating-cube #cube-bottom-left {
  animation: floatingCubeBottomLeft 6s ease-in-out infinite;
}

@keyframes floatingCubeBottomRight {

  0%,
  100% {
    transform: translateX(0) scale(1) rotate(0deg);
  }

  50% {
    transform: translateX(-10px) translateY(-10px) scale(1.15) rotate(0deg);
  }
}

.floating-cube #cube-bottom-right {
  animation: floatingCubeBottomRight 6s ease-in-out infinite;
}

@keyframes fadeInOut {

  0%,
  70% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in-out {
  animation: fadeInOut 10s ease-in-out infinite;
}

.no-horizontal-scroll {
  scrollbar-width: none;
}

.no-horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.shadow-service-card{
  box-shadow: 0px 0px 20px 2px black;
}